<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyao.company.delivery.dao.mapper.DataMapper">

  <select id="getProductSales" resultType="com.wangyao.company.delivery.vo.ProductSalesVO">
    select count(*) productNum,p.`name` productName from tb_delivery_user_product_mapper t LEFT JOIN tb_product p on  t.productId=p.id GROUP BY productId ORDER BY count(*) DESC
  </select>
</mapper>