<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyao.company.delivery.dao.mapper.DeliveryUserProductMapperMapper">
  <resultMap id="BaseResultMap" type="com.wangyao.company.delivery.model.DeliveryUserProductMapper">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="deliveryItemId" jdbcType="BIGINT" property="deliveryItemId" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="productId" jdbcType="BIGINT" property="productId" />
    <result column="totalCount" jdbcType="INTEGER" property="totalCount" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, deliveryItemId, userId, productId, totalCount, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_delivery_user_product_mapper
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_delivery_user_product_mapper
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wangyao.company.delivery.model.DeliveryUserProductMapper" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_delivery_user_product_mapper (deliveryItemId, userId, productId, 
      totalCount, createTime, updateTime
      )
    values (#{deliveryItemId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT},
      #{totalCount,jdbcType=INTEGER},now(), now()
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangyao.company.delivery.model.DeliveryUserProductMapper">
    <!--@mbg.generated-->
    update tb_delivery_user_product_mapper
    <set>
      <if test="deliveryItemId != null">
        deliveryItemId = #{deliveryItemId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        productId = #{productId,jdbcType=BIGINT},
      </if>
      <if test="totalCount != null">
        totalCount = #{totalCount,jdbcType=INTEGER},
      </if>
        updateTime = now(),
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-09-11-->
  <select id="listByParam" parameterType="com.wangyao.company.delivery.model.DeliveryUserProductParam" resultType="com.wangyao.company.delivery.model.DeliveryUserProductMapper">
        select
          tdupm.*,tu.name userName,tp.name productName,tp.type productType,tp.price productPrice
        from tb_delivery_user_product_mapper tdupm left join tb_user tu on tdupm.userId=tu.id
        left join tb_product tp  on tdupm.productId=tp.id
        <where>
          <if test="userId != null">
            and userId=#{userId,jdbcType=BIGINT}
          </if>
          <if test="deliveryItemId != null">
            and deliveryItemId = #{deliveryItemId}
          </if>
          <if test="deliveryItemIds != null and deliveryItemIds.size() != 0 != null">
            AND deliveryItemId in
            <foreach collection="deliveryItemIds" item="delivery" open="(" separator="," close=")">
              #{delivery}
            </foreach>
          </if>
        </where>
        order by tp.classId
    </select>

  <select id="getByUserIdAndProductIdAndDeliveryItemId" parameterType="com.wangyao.company.delivery.model.DeliveryUserProductParam"  resultMap="BaseResultMap">
    select *
    from tb_delivery_user_product_mapper
    where productId=#{productId} and userId=#{userId} and deliveryItemId=#{deliveryItemId}
  </select>
</mapper>