<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyao.company.delivery.dao.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.wangyao.company.delivery.model.Product">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="imageUrl" jdbcType="VARCHAR" property="imageUrl" />
    <result column="classId" jdbcType="BIGINT" property="classId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="states" jdbcType="TINYINT" property="states" />
    <result column="price" jdbcType="FLOAT" property="price" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="manufactureDate" jdbcType="VARCHAR" property="manufactureDate" />
    <result column="guaranteeDate" jdbcType="VARCHAR" property="guaranteeDate" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="classType" jdbcType="INTEGER" property="classType" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, price, imageUrl, classId, remark, states, `type`, sort, createTime, updateTime, classType, manufactureDate, guaranteeDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wangyao.company.delivery.model.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_product (`name`, imageUrl, classId, 
      remark, states, `type`, 
      sort, createTime, updateTime, classType
      )
    values (#{name,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, #{classId,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{states,jdbcType=TINYINT}, #{type,jdbcType=VARCHAR},
      #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{classType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wangyao.company.delivery.model.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="imageUrl != null">
        imageUrl,
      </if>
      <if test="classId != null">
        classId,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="states != null">
        states,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="classType != null">
        classType,
      </if>
      <if test="manufactureDate != null">
        manufactureDate,
      </if>
      <if test="guaranteeDate != null">
        guaranteeDate,
      </if>
        createTime,
        updateTime
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="states != null">
        #{states,jdbcType=TINYINT},
      </if>
      <if test="price != null">
        #{price} ,
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="classType != null">
        #{classType,jdbcType=INTEGER} ,
      </if>
      <if test="manufactureDate != null">
        #{manufactureDate,jdbcType=VARCHAR} ,
      </if>
      <if test="guaranteeDate != null">
        #{guaranteeDate,jdbcType=VARCHAR} ,
      </if>
        now(),
        now()
    </trim>
  </insert>
  <update id="updateById" parameterType="com.wangyao.company.delivery.model.Product">
    <!--@mbg.generated-->
    update tb_product
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        imageUrl = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="classId != null">
        classId = #{classId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price},
      </if>
      <if test="states != null">
        states = #{states,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="classType != null">
        classType = #{classType,jdbcType=INTEGER} ,
      </if>
      <if test="manufactureDate != null">
        manufactureDate = #{manufactureDate,jdbcType=VARCHAR} ,
      </if>
      <if test="guaranteeDate != null">
        guaranteeDate = #{guaranteeDate,jdbcType=VARCHAR} ,
      </if>
        updateTime = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
<!--auto generated by MybatisCodeHelper on 2019-09-12-->
  <select id="listByForm" parameterType="com.wangyao.company.delivery.form.ProductForm" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_product
        <where>
          <if test="classId != null">
            and classId=#{classId,jdbcType=BIGINT}
          </if>
          <if test="name != null and name != ''">
            and name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
          </if>
          <if test="states != null">
            and states = #{states,jdbcType=INTEGER}
          </if>
        </where>
        order by name ASC
    </select>


    <select id="listByFormOrderByCreateTime" parameterType="com.wangyao.company.delivery.form.ProductForm" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_product
        <where>
          <if test="classId != null">
            and classId=#{classId,jdbcType=BIGINT}
          </if>
          <if test="name != null and name != ''">
            and name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
          </if>
          <if test="states != null">
            and states = #{states,jdbcType=INTEGER}
          </if>
        </where>
        order by createTime DESC
    </select>

<!--auto generated by MybatisCodeHelper on 2019-09-12-->
  <select id="countByName" resultType="java.lang.Integer">
    select count(1)
    from tb_product
    where `name` = #{name,jdbcType=VARCHAR}
  </select>
</mapper>